<h1>Update Beer</h1>

<%= form_tag "/beers/#{@beer['id']}", method: :patch do %>

  <%= label_tag :name %>
  <%= text_field_tag :name, @beer['name'] %>

  <%= label_tag :style %>
  <%= text_field_tag :style, @beer['style'] %>

  <%= label_tag :alcohol %>
  <%= text_field_tag :alcohol, @beer['alcohol'] %>

  <%= label_tag :hop %>
  <%= text_field_tag :hop, @beer['hop'] %>

  <%= label_tag :yeast %>
  <%= text_field_tag :yeast, @beer['yeast'] %>

  <%= label_tag :malts %>
  <%= text_field_tag :ibu, @beer['malts'] %>

  <%= label_tag :blg %>
  <%= text_field_tag :blg, @beer['blg'] %>
  
  <%= submit_tag "Update Beer" %>
<% end %>