<table>
  <tr>
    <td>Name</td>
    <td>Style</td>
    <td>Hop</td>
    <td>Yeast</td>
    <td>Malts</td>
    <td>Ibu</td>
    <td>Alcohol</td>
    <td>Blg</td>
  </tr>
  <% @beers.each do |beer|%>
    <tr>
        <td><%= @beer.name%></td> 
        <td><%= @beer.style%></td> 
        <td><%= @beer.hop%></td>
        <td><%= @beer.yeast%></td>
        <td><%= @beer.malts%></td>
        <td><%= @beer.ibu%></td>
        <td><%= @beer.alcohol%></td>
        <td><%= @beer.blg%></td>
    </tr>
  <% end %>
</table>