<h1> Beer number <%= @beer["id"]%> </h1>

<p>Name: <%= @beer["name"]%></p> 
<p>Style: <%= @beer["style"]%></p> 
<p>Hop: <%= @beer["hop"]%></p>
<p>Yeast:<%= @beer["yeast"]%></p>
<p>Malts: <%= @beer["malts"]%></p>
<p>Ibu: <%= @beer["ibu"]%></p>
<p>Alcohol: <%= @beer["alcohol"]%></p>
<p>Blg: <%= @beer["blg"]%></p>